--find-links=https://girder.github.io/large_image_wheels GDAL
geopandas
leafmap
owslib
streamlit
geemap
ee
xarray
keras
math
bottleneck
numpy
shapely
matplotlib
tensorflow
streamlit_folium
json
folium
scipy
cartopy